
                      <div
                        class="modal-dialog modal-side modal-top-right modal-notify modal-info"
                        role="document"
                      >
                        <!--Content-->
                        <div class="modal-content">
                          <!--Header-->
                          <div class="modal-header">
                            <p class="heading">Information</p>
  
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true" class="white-text"
                                >&times;</span
                              >
                            </button>
                          </div>
  
                          <!--Body-->
                          <div class="modal-body">
                            <div class="row text-center">
                              <div class="col mb-3">
                                <img
                                  src="{{ asset('images/pantalon.jpg') }}"
                                  style="height: 225px; width: 225px;"
                                  class="img-fluid z-depth-1-half"
                                  alt="..."
                                />
                              </div>
                            </div>
  
                            <div class="row">
                              <div class="col">
                                <p>
                                  Vous être sûre de vouloir ajouter a votre
                                  commande?
                                </p>
                                <p>Vous pouvez reprendre cette partie.</p>
                              </div>
                            </div>
                          </div>
  
                          <!--Footer-->
                          <div class="modal-footer justify-content-center">
                            <span class="table-add"
                              ><a type="submit" href="#" class="btn btn-info"
                                >Ajouter</a
                              ></span
                            >
                            <a
                              type="button"
                              class="btn btn-outline-info waves-effect"
                              data-dismiss="modal"
                              >Annuler</a
                            >
                          </div>
                        </div>
                        <!--/.Content-->
                      </div>