
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Une question ? Besoin de passer commande ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <li>Vous pouvez nous envoyer un mail sur contact@laverie.com</li>
        <li>Pour des raisons de fortes demandes, nous vous conseillons de passer réservation au moins 24 heures en avance !</li>
        <li>Pour un meilleur lavage, nous vous invitons à vous référer à notre mode d’emploi pour un bon lavage.</li>
        <li>En passant commande, vous acceptez nos conditions générales de ventes.</li>
        <li>Service client disponible 7J/7</li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>